body {
  text-align: center;
  background-color: white;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 6rem;
  color: black;
  margin: 0;
  padding: 2% 0 0 0;
}

#level-title {
  font-family: 'Grand Hotel', cursive;
  font-size: 3rem;
  color: black;
  margin: 0;
  padding: 0 0 2% 0;
}

#level-title:hover {
cursor: pointer;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 25%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF006E;
}

.green {
  background-color: #0A8754;
}

.blue {
  background-color: #3A86FF;
}

.yellow {
  background-color: #FFBE0B;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

      h1 {
        font-size: 12rem;
        padding: 10% 0 0 0;
      }

      #level-title {
        font-size: 7rem;
        padding: 0 0 10% 0;
      }

      .container {
        width: 100%;
      }

      .btn {
        margin: 10px;
        height: 350px;
        width: 350px;
        border: 20px solid black;
      }

    }

    @media only screen
        and (device-width : 375px)
        and (device-height : 667px)
        and (-webkit-device-pixel-ratio : 2) {
          h1 {
            font-size: 12rem;
            padding: 10% 0 0 0;
          }

          #level-title {
            font-size: 7rem;
            padding: 0 0 10% 0;
          }

          .container {
            width: 100%;
          }

          .btn {
            margin: 10px;
            height: 350px;
            width: 350px;
            border: 20px solid black;
          }
        }
